<!--<footer>-->
<div class="container-fluid main-bg">
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mr-auto my-md-4 my-0 mt-4 mb-1" align="justify">
        <a href="#"><img
          width="30%"
          src="asset/img/final1.png">
        </a>
        <br>
        <!-- Content -->
        <div>
          <span class="font-weight-bold">Trụ sở chính: </span>
          <span>Số 23, Lô TT01, KĐT Mon City, Mỹ Đình 2, Nam Từ Liêm, Hà Nội.</span>
        </div>
        <div>
          <span class="font-weight-bold">Đà Nẵng: </span>
          <span>Tầng 10, 295 Nguyễn Tất Thành, Phường Thanh Bình, Quận Hải Châu, TP Đà Nẵng.</span>
        </div>
        <div>
          <span class="font-weight-bold">Quảng Trị: </span>
          <span>133 Lý Thường Kiệt, TP Đông Hà, Tỉnh Quảng Trị.</span>
        </div>
        <div>
          <span class="font-weight-bold">Văn phòng tuyển sinh Việt Trì: </span>
          <span>Băng 1, Đường Quang Trung, P. Dữu Lâu, TP Việt Trì, Phú Thọ.</span>
        </div>
        <div>
          <span class="font-weight-bold">Văn phòng tuyển sinh Thái Nguyên: </span>
          <span>36A Cách Mạng Tháng Tám, Phường Phan Đình Phùng.</span>
        </div>
        <div>
          <span class="font-weight-bold">Văn phòng tuyển sinh Vinh: </span>
          <span>50 Hà Huy Tập, TP Vinh, Tỉnh Nghệ An.</span>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1" align="justify">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">VỀ CHÚNG TÔI</h5>

        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-decoration-underline">Giới thiệu</a>
          </li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0  text-decoration-underline">Tuyển dụng</a>
          </li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-decoration-underline">Truyền
            thông</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-decoration-underline ">Blog</a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1" align="justify">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Liên hệ</h5>

        <ul class="nav flex-column">

          <li>
            <p>
              <i class="fas fa-envelope "></i> info@example.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone "></i> + 01 234 567 88</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print "></i> + 01 234 567 89</p>
          </li>
        </ul>
        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>
      </div>
    </div>
    <!-- Grid row -->
  </div>

  <div class="text-center align-content-center py-4 my-4 border-dark border-top">
    <div class="nav-item fs-6">Tập đoàn Hưng Thịnh, Tầng 10, 295 Nguyễn Tất Thành, Phường Thanh Bình, Quận Hải Châu,
      TP Đà Nẵng.
    </div>
    <div class="nav-item fs-6">Giấy chứng nhận đăng ký doanh nghiệp số 0312120782 do Sở Kế Hoạch và Đầu Tư
      TPHCM
      cấp
      ngày 11/01/2013
    </div>
  </div>
</div>
<!--</footer>-->
