<!--<title>Xem chi tiết khách hàng</title>-->
<!--<head>-->

<!--  <style>-->
<!--    .form-control {-->
<!--      display: inline-block;-->
<!--      width: 100%;-->
<!--      font-size: 15px;-->
<!--      border-top: none;-->
<!--      border-right: none;-->
<!--      border-left: none;-->
<!--    }-->

<!--    body {-->
<!--      font-family: Arial, Helvetica, sans-serif;-->
<!--      margin-top: 100px;-->
<!--    }-->

<!--    .dropdown:hover .dropdown-menu {-->
<!--      display: block;-->
<!--      margin-top: 0;-->
<!--    / / remove the gap so it doesn 't close-->
<!--    }-->

<!--    a:before {-->
<!--      content: '';-->
<!--      position: absolute;-->
<!--      left: 0;-->
<!--      bottom: 0;-->
<!--      width: 100%;-->
<!--      height: 2px;-->
<!--      /*background: white;*/-->
<!--    }-->

<!--    a:after {-->
<!--      content: '';-->
<!--      position: absolute;-->
<!--      left: 0;-->
<!--      bottom: 0;-->
<!--      width: 100%;-->
<!--      height: 0px;-->
<!--      /*background: #20abe1;*/-->
<!--      transition: ease .1s;-->
<!--      -webkit-transition: ease .1s;-->
<!--    }-->

<!--    a:hover {-->
<!--      color: #20abe1;-->
<!--    }-->

<!--    a:hover:after {-->
<!--      height: 2px;-->
<!--    }-->

<!--    .main-bg {-->
<!--      background-color: #ffcc33-->
<!--    }-->

<!--    .dropdown-menu {-->
<!--      margin-right: -800px;-->
<!--    }-->

<!--    .dropdown-menu li {-->
<!--      display: inline-block;-->
<!--    }-->

<!--    .btn-post-custom {-->
<!--      background-color: #FE9900;-->
<!--    }-->

<!--    .btn.btn-post-custom:hover {-->
<!--      background-color: #BBBBBB;-->
<!--    }-->

<!--    /*.button-watch-history {*/-->
<!--    /*    !*display: inline-block;*!*/-->
<!--    /*    border-radius: 4px;*/-->
<!--    /*    background-color: #f4511e;*/-->
<!--    /*    border: none;*/-->
<!--    /*    color: #FFFFFF;*/-->
<!--    /*    text-align: center;*/-->
<!--    /*    font-size: 15px;*/-->
<!--    /*    padding: 10px;*/-->
<!--    /*    transition: all 0.5s;*/-->
<!--    /*    cursor: pointer;*/-->
<!--    /*    margin: 10px 50px 0px 500px;*/-->
<!--    /*}*/-->

<!--    /*.button-watch-history span {*/-->
<!--    /*    cursor: pointer;*/-->
<!--    /*    display: inline-block;*/-->
<!--    /*    position: relative;*/-->
<!--    /*    transition: 0.5s;*/-->
<!--    /*}*/-->

<!--    /*.button-watch-history span:after {*/-->
<!--    /*    content: '\00bb';*/-->
<!--    /*    position: absolute;*/-->
<!--    /*    opacity: 0;*/-->
<!--    /*    top: 0;*/-->
<!--    /*    right: -20px;*/-->
<!--    /*    transition: 0.5s;*/-->
<!--    /*}*/-->

<!--    /*.button-watch-history:hover span {*/-->
<!--    /*    padding-right: 25px;*/-->
<!--    /*}*/-->


<!--    /*.button-watch-history:hover span:after {*/-->
<!--    /*    opacity: 1;*/-->
<!--    /*    right: 0;*/-->
<!--    /*}*/-->

<!--    .row {-->
<!--      padding-top: 20px;-->
<!--    }-->

<!--    .row input, label {-->
<!--      font-size: 15px;-->
<!--    }-->
<!--  </style>-->
<!--  <style>-->
<!--    body, footer {-->
<!--      background: #F1F3FA;-->
<!--    }-->

<!--    /*footer {*/-->
<!--    /*  height: 100%;*/-->
<!--    /*}*/-->

<!--    /* Profile container */-->
<!--    .profile {-->
<!--      margin: 20px 0;-->
<!--    }-->

<!--    /* Profile sidebar */-->
<!--    .profile-sidebar {-->
<!--      padding: 20px 0 10px 0;-->
<!--      background: #fff;-->
<!--    }-->

<!--    .profile-userpic img {-->
<!--      float: none;-->
<!--      margin-left: 45px;-->
<!--      width: 80%;-->
<!--      height: 100%;-->
<!--      -webkit-border-radius: 50% !important;-->
<!--      -moz-border-radius: 50% !important;-->
<!--      border-radius: 50% !important;-->
<!--    }-->

<!--    .profile-usertitle {-->
<!--      text-align: center;-->
<!--      margin-top: 20px;-->
<!--    }-->

<!--    .profile-usertitle-name {-->
<!--      color: #5a7391;-->
<!--      font-size: 16px;-->
<!--      font-weight: 600;-->
<!--      margin-bottom: 7px;-->
<!--    }-->

<!--    .profile-usertitle-job {-->
<!--      text-transform: uppercase;-->
<!--      color: #5b9bd1;-->
<!--      font-size: 12px;-->
<!--      font-weight: 600;-->
<!--      margin-bottom: 15px;-->
<!--    }-->

<!--    .profile-userbuttons {-->
<!--      text-align: center;-->
<!--      margin-top: 10px;-->
<!--    }-->

<!--    .profile-userbuttons .btn {-->
<!--      text-transform: uppercase;-->
<!--      font-size: 11px;-->
<!--      font-weight: 600;-->
<!--      padding: 6px 15px;-->
<!--      margin-right: 5px;-->
<!--    }-->

<!--    .profile-userbuttons .btn:last-child {-->
<!--      margin-right: 0px;-->
<!--    }-->

<!--    /*.profile-usermenu {*/-->
<!--    /*    margin-top: 30px;*/-->
<!--    /*}*/-->

<!--    /*.profile-usermenu ul li {*/-->
<!--    /*    border-bottom: 1px solid #f0f4f7;*/-->
<!--    /*}*/-->

<!--    /*.profile-usermenu ul li:last-child {*/-->
<!--    /*    border-bottom: none;*/-->
<!--    /*}*/-->

<!--    /*.profile-usermenu ul li a {*/-->
<!--    /*    color: #93a3b5;*/-->
<!--    /*    font-size: 14px;*/-->
<!--    /*    font-weight: 400;*/-->
<!--    /*}*/-->

<!--    .profile-usermenu ul li a i {-->
<!--      margin-right: 8px;-->
<!--      font-size: 14px;-->
<!--    }-->

<!--    /*.profile-usermenu ul li a:hover {*/-->
<!--    /*    background-color: #fafcfd;*/-->
<!--    /*    color: #5b9bd1;*/-->
<!--    /*}*/-->

<!--    .profile-usermenu ul li.active {-->
<!--      border-bottom: none;-->
<!--    }-->

<!--    /*.profile-usermenu ul li.active a {*/-->
<!--    /*    color: #5b9bd1;*/-->
<!--    /*    background-color: #f6f9fb;*/-->
<!--    /*    border-left: 2px solid #5b9bd1;*/-->
<!--    /*    margin-left: -2px;*/-->
<!--    /*}*/-->

<!--  </style>-->

<!--  &lt;!&ndash;    navbar&ndash;&gt;-->
<!--  <style>-->
<!--    /*    .dropdown:hover .dropdown-menu {*/-->
<!--    /*    display: block;*/-->
<!--    /*    margin-top: 0;*/-->
<!--    /*/ / remove the gap so it doesn 't close*/-->
<!--    /*}*/-->

<!--    .trans-nav:before {-->
<!--      content: '';-->
<!--      position: absolute;-->
<!--      left: 0;-->
<!--      bottom: 0;-->
<!--      width: 0;-->
<!--      height: 0;-->
<!--    }-->

<!--    .trans-nav:after {-->
<!--      content: '';-->
<!--      position: absolute;-->
<!--      left: 0;-->
<!--      bottom: 0;-->
<!--      width: 0;-->
<!--      height: 2px;-->
<!--      /*background: red;*/-->
<!--      transition: all 0.3s ease 0s;-->
<!--      -webkit-transition: all 0.3s ease 0s;-->
<!--    }-->

<!--    /*.trans-nav:hover {*/-->
<!--    /*    color: red;*/-->
<!--    /*}*/-->

<!--    .trans-nav:hover:after {-->
<!--      width: 100%;-->
<!--    }-->

<!--    .main-bg {-->
<!--      background-color: #ffcc33-->
<!--    }-->

<!--    .dropdown-menu {-->
<!--      margin-right: -800px;-->
<!--    }-->

<!--    .dropdown-menu li {-->
<!--      display: inline-block;-->
<!--    }-->

<!--    .btn-post-custom {-->
<!--      background-color: #FE9900;-->
<!--    }-->

<!--    .btn.btn-post-custom:hover {-->
<!--      background-color: green;-->
<!--    }-->

<!--    /* Float */-->
<!--    .hvr-float {-->
<!--      display: inline-block;-->
<!--      vertical-align: middle;-->
<!--      /*-webkit-transform: perspective(1px) translateZ(0);*/-->
<!--      /*transform: perspective(1px) translateZ(0);*/-->
<!--      box-shadow: 0 0 1px rgba(0, 0, 0, 0);-->
<!--      -webkit-transition-duration: 0.3s;-->
<!--      transition-duration: 0.3s;-->
<!--      -webkit-transition-property: transform;-->
<!--      transition-property: transform;-->
<!--      -webkit-transition-timing-function: ease-out;-->
<!--      transition-timing-function: ease-out;-->
<!--    }-->

<!--    .hvr-float:hover, .hvr-float:focus, .hvr-float:active {-->
<!--      -webkit-transform: translateY(0px);-->
<!--      transform: translateY(-8px);-->
<!--      /*background-color: #ffcc33;*/-->
<!--    }-->

<!--    /* Sweep To Right */-->
<!--    /*.hvr-sweep-to-right {*/-->
<!--    /*    vertical-align: middle;*/-->
<!--    /*    -webkit-transform: perspective(1px) translateZ(0);*/-->
<!--    /*    transform: perspective(1px) translateZ(0);*/-->
<!--    /*    box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/-->
<!--    /*    position: relative;*/-->
<!--    /*    -webkit-transition-property: color;*/-->
<!--    /*    transition-property: color;*/-->
<!--    /*    -webkit-transition-duration: 0.3s;*/-->
<!--    /*    transition-duration: 0.3s;*/-->
<!--    /*}*/-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="fixed-top">-->
<!--  <nav class="navbar navbar-expand-lg navbar-light fs-6 pb-3 pt-3 main-bg sbt">-->
<!--    <div class="container-fluid">-->
<!--      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 " href="assets/img/Untitled-2.png">-->
<!--        <img class="navbar-brand" width="90%" src="assets/img/final1.png" alt="">-->

<!--      </a>-->
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
<!--              data-bs-target="#navbarSupportedContent"-->
<!--              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse " id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--          <li class="nav-item dropdown ">-->
<!--            <a class="navbar-brand trans-nav" href="#" id="saleList" role="button"-->
<!--               data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              Nhà đất bán-->
<!--            </a>-->
<!--            <ul class="dropdown-menu main-bg border-0" aria-labelledby="navbarDropdown">-->
<!--              <li><a class="dropdown-item hvr-float" href="#">Bán nhà </a></li>-->
<!--              <li><a class="dropdown-item hvr-float" href="#">Bán đất nền dự án</a></li>-->
<!--              <li><a class="dropdown-item hvr-float" href="#">Bán loại bất động sản khác</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown ">-->
<!--            <a class="navbar-brand trans-nav" href="#" id="buyList" role="button"-->
<!--               data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              Nhà đất cho thuê-->
<!--            </a>-->
<!--            <ul class="dropdown-menu main-bg border-0 " aria-labelledby="navbarDropdown">-->
<!--              <li><a class="dropdown-item hvr-float" href="#">Cho thuê nhà</a></li>-->
<!--              <li><a class="dropdown-item hvr-float" href="#">Cho thuê đất nền</a></li>-->
<!--              <li><a class="dropdown-item hvr-float" href="#">Cho thuê loại bất động sản khác</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown ">-->
<!--            <a class="navbar-brand trans-nav" href="#" id="order" role="button"-->
<!--               data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              Cần mua - Cần thuê-->
<!--            </a>-->
<!--            <ul class="dropdown-menu main-bg border-0" aria-labelledby="navbarDropdown">-->
<!--              <li><a class="dropdown-item hvr-float" href="#">Nhà đất cần mua</a></li>-->
<!--              <li><a class="dropdown-item hvr-float" href="#">Nhà đất cần thuê</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <ul class="d-flex  mb-2 mb-lg-0">-->
<!--          <li class="nav-item d-flex ">-->
<!--            <a class="navbar-brand hvr-float" href="#">Đăng nhập</a>-->
<!--          </li>-->
<!--          <li class="nav-item d-flex">-->
<!--            <a class="navbar-brand hvr-float" href="#">Đăng ký</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <div class="d-flex">-->
<!--          <button class=" navbar-brand btn btn-post-custom text-white" type="submit">Đăng tin</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</div>-->
<!--<div class="container-fluid">-->
<!--  <div class="row g-1 pt-lg-5">-->
<!--    <div class="col-md-3" style="height: 100%">-->
<!--      <div class="profile-sidebar">-->
<!--        &lt;!&ndash; SIDEBAR USERPIC &ndash;&gt;-->
<!--        <div class="profile-userpic" style="padding-left: 10px">-->
<!--          <img src="https://cdn3.iconfinder.com/data/icons/avatars-flat/33/man_5-512.png"-->
<!--               class="img-responsive" alt="">-->
<!--        </div>-->
<!--        <div class="profile-usertitle">-->
<!--          <div class="profile-usertitle-name">-->
<!--            Marcus Doe-->
<!--          </div>-->
<!--          <div class="profile-usertitle-job">-->
<!--            Developer-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="profile-userbuttons">-->
<!--          <button type="button" class="btn btn-success btn-sm">Xem lịch sử đăng bài</button>-->
<!--          &lt;!&ndash;                    <button type="button" class="btn btn-danger btn-sm">Message</button>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-lg-9 card">-->
<!--      <h4 class="text-h4 fs-3 card-header pb-1 ">Thông tin cá nhân</h4>-->
<!--      <div class="needs-validation">-->
<!--        <div class="row g-3 mx-2">-->
<!--          <div class="row">-->
<!--            <div class="col-2"><label style="padding-top: 10px">Họ và tên</label></div>-->
<!--            <div class="col-10"><input type="email" class="form-control" value="example">-->
<!--&lt;!&ndash;              {{customer.name}}&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-2"><label style="padding-top: 10px">Email</label></div>-->
<!--            <div class="col-10"><input type="email" class="form-control" value="you@example.com">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-2">-->
<!--              <label class="form-label" style="margin-top: 10px">Ngày sinh</label></div>-->
<!--            <div class="col-4">-->
<!--              <input type="date" class="form-control" placeholder="" value=""-->
<!--                     style="width: 250px">-->
<!--            </div>-->
<!--            <div class="col-2" style="padding-left: -10px">-->
<!--              <label class="form-label" style="margin-top: 10px">Số điện thoại</label>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <input type="text" class="form-control" value="09xxxxxxxx">-->
<!--              <div class="invalid-feedback">-->
<!--                Valid last name is required.-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-2"><label style="padding-top: 10px">Giới tính</label></div>-->
<!--            <div class="col-10"><input type="email" class="form-control" value="example">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-2"><label style="padding-top: 10px">Địa chỉ</label></div>-->
<!--            <div class="col-10"><input type="email" class="form-control" value="example">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <hr class="mt-5" style="width: 97%">-->
<!--        <div class="row">-->
<!--          <div class="col-8">-->
<!--          </div>-->
<!--          <div class="col-4">-->
<!--            <button class="fs-6 btn btn-primary float-end" type="submit" style="margin-right: 40px"><i-->
<!--              class="fas fa-save"></i> Lưu-->
<!--            </button>-->
<!--            <button class="fs-6 btn btn-danger float-end" type="button" style="margin-right: 20px">-->
<!--              <i class="fas fa-trash-alt"></i> Xóa-->
<!--            </button>-->
<!--          </div>-->
<!--          &lt;!&ndash;                    <div class="col-2">&ndash;&gt;-->
<!--          &lt;!&ndash;                        <button class="fs-6 btn btn-danger float-end" type="button">&ndash;&gt;-->
<!--          &lt;!&ndash;                            <i class="fas fa-trash-alt"></i> Xóa&ndash;&gt;-->
<!--          &lt;!&ndash;                        </button>&ndash;&gt;-->
<!--          &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;    <button type="button" class="button-watch-history float-end">Xem bài đăng</button>&ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash;<style>&ndash;&gt;-->
<!--&lt;!&ndash;  .my-5, .row {&ndash;&gt;-->
<!--&lt;!&ndash;   padding-bottom: 0px;&ndash;&gt;-->
<!--&lt;!&ndash;  }&ndash;&gt;-->
<!--&lt;!&ndash;</style>&ndash;&gt;-->
<!--&lt;!&ndash;footer&ndash;&gt;-->
<!--<div class="container">-->
<!--  <footer class="row cols-5 py-3 my-5" style="padding-left: 200px">-->
<!--    <div class="col">-->
<!--      &lt;!&ndash;                  <a href="/" class="d-flex align-items-center mb-5 link-dark text-decoration-none">&ndash;&gt;-->
<!--      &lt;!&ndash;                      <svg class="bi me-2" width="12" height="32"><use xlink:href="#bootstrap"></use></svg>&ndash;&gt;-->
<!--      &lt;!&ndash;                  </a>&ndash;&gt;-->
<!--      <p class="text-muted">BDS © 2022</p>-->
<!--    </div>-->
<!--    <div class="col-1">-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <ul class="nav flex-column">-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Giới thiệu</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tạo quảng cáo</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tuyển dụng</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Đầu tư</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Quyền riêng tư</a></li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    <div class="col">-->

<!--      <ul class="nav flex-column">-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Điều khoản</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trợ giúp</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trao đổi</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Dự án</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Môi giới</a></li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    <div class="col">-->
<!--      <ul class="nav flex-column">-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tiếng việt</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">中文(台灣</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">한국어</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Français (France)</a></li>-->
<!--        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Italiano</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </footer>-->
<!--</div>-->
<!--</body>-->
<h1>avc</h1>
