<!--<div class="container-fluid">-->
<!-- Brand and toggle get grouped for better mobile display -->
<nav class="navbar navbar-expand-lg navbar-light fs-6 pb-3 pt-3 main-bg sbt">
  <div class="container-fluid">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 " href="asset/img/Untitled-2.png">
      <img class="navbar-brand" width="90%" src="asset/img/final1.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ">
          <a class="navbar-brand trans-nav fw-bold" href="#" id="saleList" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Nhà đất bán
          </a>
          <ul class="dropdown-menu main-bg border-0 pb-0 fw-bold" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item hvr-float fw-bold" href="#">Bán nhà </a></li>
            <li><a class="dropdown-item hvr-float fw-bold" href="#">Bán đất nền dự án</a></li>
            <li><a class="dropdown-item hvr-float fw-bold" href="#">Bán loại bất động sản khác</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown fw-bold">
          <a class="navbar-brand trans-nav" href="#" id="buyList" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Nhà đất cho thuê
          </a>
          <ul class="dropdown-menu main-bg border-0 pb-0 " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item hvr-float fw-bold" href="#">Cho thuê nhà</a></li>
            <li><a class="dropdown-item hvr-float fw-bold" href="#">Cho thuê đất nền</a></li>
            <li><a class="dropdown-item hvr-float fw-bold" href="#">Cho thuê loại bất động sản khác</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown fw-bold">
          <a class="navbar-brand trans-nav" href="#" id="order" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Cần mua - Cần thuê
          </a>
          <ul class="dropdown-menu main-bg border-0 pb-0 fw-bold" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item hvr-float fw-bold" href="#">Nhà đất cần mua</a></li>
            <li><a class="dropdown-item hvr-float fw-bold" href="#">Nhà đất cần thuê</a></li>
          </ul>
        </li>
      </ul>
      <ul class="d-flex navbar-nav  mb-2 mb-lg-0 fw-bold">
        <li class="nav-item d-flex ">
          <a class="navbar-brand hvr-float" href="#">Đăng nhập</a>
        </li>
        <li class="nav-item d-flex fw-bold">
          <a class="navbar-brand hvr-float " href="#">Đăng ký</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class=" navbar-brand btn btn-success text-white" type="submit">Đăng tin</button>
      </form>
    </div>
  </div>
</nav>
<!-- End of nav bar -->
